*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: pointer;
    
}

header{
    position: sticky;
    top: 0;
}
nav{
    background-color: rgba(5, 5, 5, 0.9);
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}

.logo{
    display: flex;
}
.logo>p{
    font-size:24px;
    font-weight: bold;
}
.nav-btns{
    display: flex;
    gap: 20px;
}
.nav-btns button{
    padding: 8px 12px;
    border-radius: 8px;

}
.nav-btns button>a{
    font-size: .875rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.get-started>button{
    border: 2px solid #7e30dc;
    background-color: black;
}
.demo>button{
    background-color: #7e30dc;
    border: 2px solid #7e30dc;
}

.nav-menu>span{
    padding-right: 16px;
}
.nav-menu a{
    color: white;
    text-decoration: none;
}


.first-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center; 
    background-image:url("data:image/svg+xml,%3csvg%20width='1357'%20height='508'%20viewBox='0%200%201357%20508'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20opacity='0.7'%20filter='url(%23filter0_f_2807_7684)'%3e%3cg%20clip-path='url(%23clip0_2807_7684)'%3e%3crect%20x='148.201'%20y='9'%20width='1060.8'%20height='663'%20fill='%230D0D0D'/%3e%3cg%20filter='url(%23filter1_f_2807_7684)'%3e%3cellipse%20cx='1133.12'%20cy='736.089'%20rx='503.143'%20ry='458.943'%20fill='%235500B3'/%3e%3c/g%3e%3cg%20filter='url(%23filter2_f_2807_7684)'%3e%3cellipse%20cx='346.442'%20cy='554.084'%20rx='480.18'%20ry='254.056'%20transform='rotate(10.5409%20346.442%20554.084)'%20fill='%230065FF'/%3e%3c/g%3e%3cg%20filter='url(%23filter3_f_2807_7684)'%3e%3cpath%20d='M705.855%20546.767C293.869%20525.026%20166.984%20136.812%2023.7026%20147.862C-156.412%20161.753%20-122.852%20525.891%2023.7026%20664.633C196.451%20828.173%20985.052%20561.5%20705.855%20546.767Z'%20fill='%239035FF'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cfilter%20id='filter0_f_2807_7684'%20x='0.867935'%20y='-138.333'%20width='1355.47'%20height='957.666'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='73.6666'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter1_f_2807_7684'%20x='408.981'%20y='56.1466'%20width='1448.29'%20height='1359.89'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='110.5'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter2_f_2807_7684'%20x='-422.618'%20y='-5.42038'%20width='1538.12'%20height='1119.01'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='147.333'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter3_f_2807_7684'%20x='-246.453'%20y='0.297623'%20width='1158.9'%20height='864.545'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='73.6666'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cclipPath%20id='clip0_2807_7684'%3e%3crect%20x='148.201'%20y='9'%20width='1060.8'%20height='663'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"), url("https://www.questlabs.ai/assets/leftSideDots-F2-L56Gr.svg"), url("https://www.questlabs.ai/assets/rightSideDots-VoZRD2RA.svg");
    background-position: top center, left center, center right;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
    
    color: white;
    padding-top: 100px;
   
}
.first-section>.first-heading{
    width:70%;
    
    margin: auto;
    text-align: center;
   
}
.para{
    width: 48%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
.text{
    font-size: 60px;
}
.inpt-email{
    border: 1px solid #4f5365;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 12px;
    background-color: #1c1f32;
}
.inpt-email>input{
    font-size: 18px;
    border: none;
    background-color: #1c1f32;
    color: white;
}


.inpt-email>button{
    border: 2px solid #8C43EC;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: black;
    
}
.inpt-email>button>a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.second-section{
    padding-top: 100px;
    margin: auto;
    background-color: #000000;
    color: white;
    padding-bottom: 150px;
}
.ai-heading{
    font-size: 30px;
    width: 60%;
    margin: auto;
    text-align: center;
    
}
.ai-para{
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin: 30px 0;
}
.box-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.box2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.box-txt>h2{
    
    font-size: 30px;
    margin-bottom:30px ;
}
.box-txt{
    width: 32%;
   
}
.box-txt>p{
    
    font-size: 18px;
}
.footer-logo>img{
width: 50px;
}
.logo-txt{
    color: white;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-list>ul>li:first-child{
    font-weight: bold;
    color: white;
}
.footer-list>ul{
    list-style: none;
}
.footer-list{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.footer-list>ul>li{
    margin: 20px 0;
}

.footer-lower-section{
    padding: 25px 35px;
    color: white;
}
footer{
    background-color: #0d0d0d;
    padding-top:100px ;
}
.footer-list>ul>li>a{
    color: #828282;
    text-decoration: none;
}

.footer-list>ul>li>a:hover{
    color: white;
    text-decoration: underline;
}

.final-section{
    
    padding-top:150px ;
    padding-bottom:120px ;
    background-image:url("data:image/svg+xml,%3csvg%20width='1357'%20height='508'%20viewBox='0%200%201357%20508'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20opacity='0.7'%20filter='url(%23filter0_f_2807_7684)'%3e%3cg%20clip-path='url(%23clip0_2807_7684)'%3e%3crect%20x='148.201'%20y='9'%20width='1060.8'%20height='663'%20fill='%230D0D0D'/%3e%3cg%20filter='url(%23filter1_f_2807_7684)'%3e%3cellipse%20cx='1133.12'%20cy='736.089'%20rx='503.143'%20ry='458.943'%20fill='%235500B3'/%3e%3c/g%3e%3cg%20filter='url(%23filter2_f_2807_7684)'%3e%3cellipse%20cx='346.442'%20cy='554.084'%20rx='480.18'%20ry='254.056'%20transform='rotate(10.5409%20346.442%20554.084)'%20fill='%230065FF'/%3e%3c/g%3e%3cg%20filter='url(%23filter3_f_2807_7684)'%3e%3cpath%20d='M705.855%20546.767C293.869%20525.026%20166.984%20136.812%2023.7026%20147.862C-156.412%20161.753%20-122.852%20525.891%2023.7026%20664.633C196.451%20828.173%20985.052%20561.5%20705.855%20546.767Z'%20fill='%239035FF'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cfilter%20id='filter0_f_2807_7684'%20x='0.867935'%20y='-138.333'%20width='1355.47'%20height='957.666'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='73.6666'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter1_f_2807_7684'%20x='408.981'%20y='56.1466'%20width='1448.29'%20height='1359.89'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='110.5'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter2_f_2807_7684'%20x='-422.618'%20y='-5.42038'%20width='1538.12'%20height='1119.01'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='147.333'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cfilter%20id='filter3_f_2807_7684'%20x='-246.453'%20y='0.297623'%20width='1158.9'%20height='864.545'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20result='shape'/%3e%3cfeGaussianBlur%20stdDeviation='73.6666'%20result='effect1_foregroundBlur_2807_7684'/%3e%3c/filter%3e%3cclipPath%20id='clip0_2807_7684'%3e%3crect%20x='148.201'%20y='9'%20width='1060.8'%20height='663'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"), url("https://www.questlabs.ai/assets/leftSideDots-F2-L56Gr.svg"), url("https://www.questlabs.ai/assets/rightSideDots-VoZRD2RA.svg");
    background-position: center center, top left, bottom right;
    background-repeat: no-repeat;
    
    color: white;
}

.final-section h1{
    font-size: 46px;
    width: 70%;
}
.final-section p{
    font-weight: bold;
    font-size: 20px;
}
.final-section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.final-section button{
    padding: 8px 12px;
    background: linear-gradient(transparent, transparent) padding-box padding-box, linear-gradient(to left, rgb(0, 101, 255), rgb(144, 53, 255), rgb(144, 53, 255)) border-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:5px;

}
.final-section button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.overlay{
    background-color: rgba(0, 0, 0, 0.9);
}

.show-icon{
    background: var(--Primary, linear-gradient(84deg, #9035ff .36%, #0065ff 100.36%));
    width: 70px;
    height: 70px;
    padding: 10px 0  0 20px;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: -1px -1px 50.3px -1px #9035ffbf;
}
.icon{
    position: fixed;
    bottom: 5%;
    right: 2%;
}
   

@media screen and (max-width:600px){
    .text{
        font-size: 20px;
    }
    .para{
        font-size: 16px;
    }
    .nav-menu>span> a{
        font-size: 12px;
    }
    .logo>p{
        font-size: 16px;
    }
    .nav-btns button{
        padding: 5px 5px;
        border-radius: 5px;
    
    }
    .nav-btns button>a{
        font-size: 12px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    nav{
        
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .demo{
        display: none;
    }
    .image{
        width: 70%;
        margin: auto;
    }
    .image>img{
        width: 100%;
    }

    .ai-heading>h1{
        font-size: 20px;
        
        
    }
    .ai-para{
        font-size: 14px;
        margin: auto;
        text-align: center;
        margin: 30px 0;
    }
    .box-img{
        width: 55%;
    }
    .box-img>img{
        width: 100%;
    }
    .box-txt>h2{
    
        font-size: 18px;
        margin-bottom:30px ;
    }
    .box-txt>p{
    
        font-size: 12px;
    }
    .box-txt{
        width: 36%;
    }
    .footer-lower-section p{
       font-size: 12px;
    }

    .final-section h1{
        font-size: 20px;
        width: 85%;
    }
    .final-section p{
        font-weight: bold;
        font-size: 14px;
    }
    .first-section>.first-heading{
        width:85%;
        
       
    }
}