*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
header{
    position: sticky;
    top: 0;
}
nav{
    background-color: rgba(5, 5, 5, 0.9);
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}

.logo{
    display: flex;
}
.logo>p{
    font-size:24px;
    font-weight: bold;
}
.nav-btns{
    display: flex;
    gap: 20px;
}
.nav-btns button{
    padding: 8px 12px;
    border-radius: 8px;

}
.nav-btns button>a{
    font-size: .875rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.get-started>button{
    border: 2px solid #7e30dc;
    background-color: black;
}
.demo>button{
    background-color: #7e30dc;
    border: 2px solid #7e30dc;
}

.nav-menu>span{
    padding-right: 16px;
}

.first-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center; 
    background-color: #210b42;
    color: white;
    padding-top: 100px;
   
}
.first-section>.first-heading{
    width:70%;
    
    margin: auto;
    text-align: center;
   
}
.para{
    width: 48%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
.text{
    font-size: 60px;
}
.inpt-email{
    border: 1px solid #4f5365;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 12px;
    background-color: #1c1f32;
}
.inpt-email>input{
    font-size: 18px;
    border: none;
    background-color: #1c1f32;
}
.inpt-email>button{
    border: 2px solid #8C43EC;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.second-section{
    padding-top: 100px;
    margin: auto;
    background-color: #000000;
    color: white;
}
.ai-heading{
    font-size: 30px;
    width: 60%;
    margin: auto;
    text-align: center;
    
}
.ai-para{
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin: 30px 0;
}
.box-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.box2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.box-txt>h2{
    
    font-size: 30px;
    margin-bottom:30px ;
}
.box-txt{
    width: 32%;
   
}
.box-txt>p{
    
    font-size: 18px;
}
